.homePage header {
    text-align: center;
    h1 {
        font-size: 3.5rem;
        font-weight: 600;
        font-family: 'Signika Negative', sans-serif;
        margin-bottom: 15px;
        margin-left: 20px;
    }
}